{{!< default}}

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script language="javascript" type="text/javascript">


$(document).ready(function() {
	var socket = io.connect('/');
	socket.on('update', function (data) {
	     console.log('update : ' + data);
	});

	$('#sendmessage').click(function(){
		console.log('clicked');
		socket.emit('update', 'hi there from admin');
	});
});

</script>

<div>Admin main page</div>

<div id="sendmessage">click me to send a message</a>
