<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- Font Awesome Icons -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style-custom.css" rel="stylesheet">


    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/drawPolygon.js"></script>
    <script src="js/admin/google-map-admin.js"></script>
    <script src="js/map-styles.js"></script>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script language="javascript" type="text/javascript">

        $(document).ready(function() {
            var socket = io.connect('/');

            google.maps.event.addDomListener(window, 'load', function() {
				initialize(socket);
			});


            socket.on('update', function (data) {
                console.log('update : ' + data);
            });

            socket.on('registerVolunteer', function(data) {
                registerVolunteer(data);
            })

            $('#stopPolygon').click(function() {
            	stop(true);
            })
        });

    </script>

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <p class="brand">MISSION POSSIBLE</p>
            <p class="tagline">Community. We help each other.</p>

        </div>
    </div>
</div>
<div class="jumbotron help-outer">
    <div class="container help">
        <h3 class="help-row">
            <span class="i-can-help">I CAN HELP! <img src="img/people.png"></span>
            <span class="i-need-help">I NEED HELP! <img src="img/person.png"></span>
        </h3>
    </div>
    <div class="container steps">
        <p>
            Step 1. Create your mission <i class="fa fa-arrow-right"></i>
            Step 2. Say what you need <i class="fa fa-arrow-right"></i>
            Step 3. Send out the signal!
        </p>
    </div>
</div>



<div class="container map-container">
    <div class="row">

        <div class="col-md-3">
            <div id="">
                <br>
                <button id="stopPolygon" type="button" class="btn btn-warning">Stop Drawing</button>
            </div>

        </div>
        <div class="col-md-9">
            <div id="map_canvas">

            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>© Disasterama 2014</p>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>


</body>
</html>



