
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- Font Awesome Icons -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style-custom.css" rel="stylesheet">



    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
    $(document).ready(function() {

        var socket = io.connect('/');

		google.maps.event.addDomListener(window, 'load', function() {
			initialize(socket);
		});

        socket.on('update', function (data) {
            console.log('update : ' + data);
        });

        socket.on('addPoint', function(data) {
            // add point to map
            console.log('addPoint ' +
                    data.latitude + ' ' + data.longitude );
        })

        socket.on('drawPolygon', function(data) {
            // add point to polygon
            console.log('drawPolygon ' +
                    data.latitude + ' ' + data.longitude );

			createMarker(data);

        })

        socket.on('registerVolunteer', function(data) {
            // decrement count at point
            console.log('need to decrement the count ' +
                    data.pointid );
        })

        $('#sendmessage').click(function(){
            console.log('clicked');
            socket.emit('update', 'hi there from home');
        });

        $('#registerVolunteer').click(function() {
            socket.emit('registerVolunteer', {pointid: 'pointid'})
        });
    });

    </script>


    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


    <script src="js/drawPolygon.js"></script>
    <script src="js/users/google-map-user.js"></script>
    <script src="js/map-styles.js"></script>

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <p class="brand">MISSION POSSIBLE</p>
            <p class="tagline">Community. We help each other.</p>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container help">
        <h3 class="help-row">
            <span class="i-can-help">I CAN HELP! <img src="img/people.png"></span>
            <span class="i-need-help">I NEED HELP! <img src="img/person.png"></span>
        </h3>
    </div>
    <div class="container steps">
        <p>
            Step 1. Find a mission near you <i class="fa fa-arrow-right"></i>
            Step 2. Accept a mission <i class="fa fa-arrow-right"></i>
            Step 3. Receive your instructions
        </p>
    </div>
</div>

<!-- call to action -->
<div class="container">
    <div id="row">
        <div class="col-md-12">
            <div id="sendmessage">click me to send a message</div>

            <div id="registerVolunteer">click me to volunteer at a point</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="map_canvas">

            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>© Disasterama 2014</p>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>


</body>
</html>


