.navbar-inverse {
    background-color: #323232;
    border-color: #323232;

    padding-top: 5px;
}

.brand {
    font-family: 'Bangers', cursive;
    color: #fff;
    font-size: 48px;
}

.help-row {
    font-family: 'Bangers', cursive;
    font-size: 26px;
    background-color: #fff;
}


.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.tagline {
    color: #F6B72E;
    padding-left: 50px;
    margin-top: -20px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #F6B72E;
}

#map_canvas {
    height: 600px;
    background-color: #CCC;
}

.jumbotron {
    background-color: #fff;

}

.steps {
    padding-top: 10px;

    background-color: #F6B72E;

}

.help {
    padding-top: 40px;
    background-color: #fff;

}

.i-can-help {
    padding-left: 30px;
}

.i-need-help {
    padding-left: 80px;
}

.i-can-help img, .i-need-help img {
    width:50px;
    height: auto;
    padding-left: 10px;
}

.map {

}

.fa-arrow-right {
    padding-left: 10px;
    padding-right: 10px;
}

.help-outer {
    padding-bottom: 0px;
    margin-bottom: 1px;
}

.map-container {
    padding-left: 0px;
    padding-right: 0px;
}
